#main {
    padding-left: 20%;
    padding-right: 20%;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    padding-top: 20%;
}

#formFormat {
    padding-top: 8%;
    padding-right: 40%;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-family: 'Roboto', sans-serif;
}

#pin {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align:center;
 }

#new-event-button {
    margin-top: 15%;
}

button {
    box-shadow: 4px 4px #D3D3D3;
}

#submitButton {
    padding-top: 5%;
    padding-left: 92%;
}

#pin-number {
    font-weight: bold;
    font-size: 200%;
    margin-left: 64%;
}

#activities {
    padding-top: 7%;
}

#group {
    padding-top: 7%;
}